---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre mí"
	description="¿Quieres saber más acerca de mí? Aquí tienes lo necesario"
	pubDate={new Date('September 17 2023')}
	heroImage="/blog-placeholder-about.jpg"
>

	<h1>¿Como profesional?</h1>
	<p>
		Me considero una persona muy trabajadora, responsable, curiosa y muy autodidacta lo que impulsa mi
		carácter proactivo, si me preguntas por mis proyectos personales... Siempre tengo algo entre manos,
		desde una idea para aplicación de escritorio o móvil, hasta esta misma web o incluso un videojuego. 
		¿Motivo de porque hago tantas cosas o porque investigo tanto? Se podria destacar el hecho de haber 
		estado rodeado siempre de la tecnología desde que tengo consciencia hace que mi curiosidad y mi necesidad
		por crear soluciones se vea muy motivada a seguir creciendo.
	</p>

	<h1>¿Qué cursos has realizado?</h1>
	<p>
		Desde muy pequeño tenia claro que mi objetivo era vivir de la informática, tras finalizar la ESO empecé 
		con el CFGM de Sistemas Microinformáticos y Redes (SMR), donde aprendí como funcionaba un ordenador,
		un servidor y los diversos programas que podria llegar a utilizar algún dia, y donde tambien descubrí la
		programación mediante scripts de Windows, Linux y tambien la programación web. Tras finalizar los estudios
		y realizar un Erasmus con motivo de continuar mi aprendizaje y mejorar mi inglés, decidí continuar mis
		estudios realizando el CFGS de Desarrollo de Aplicaciones Multiplataformas (DAM) y tras esto, rematar al
		año siguiente esta rama, realicé el CFGS de Desarrollo de Aplicaciones Web (DAW) realizando tambien muchos 
		cursos de la plataforma de OpenWebinars, y finalizando este año con un Curso de Especialización en 
		Ciberseguridad. Son muchos, asi que si te pierdes un poco, puedes verlos todos en mi 
		<a href="https://www.linkedin.com/in/moisés-martín-pérez-601430189/">LinkedIn</a>.
	</p>

	<h1>¿Como persona?</h1>
	<p>
		Además de lo mencionado anteriormente, soy una persona totalmente apasionada por el mundo y lo que lo
		rodea, si paseo por la calle, siempre necesito de mis cascos para acompañarlo con algo de música; la
		actividad física y mental tambien es importante para mi, por eso de mis grandes aficiones son el baloncesto,
		los juegos de mesa y los videojuegos.
	</p>

	<h1>¿Proyectos personales?</h1>
	<p>
		Muchos (fijate en esta página, sigue creciendo😉), actualmente estoy desarrollando una red social 
		junto con un amigo.
	</p>

	<p>
		(En desarrollo)
	</p>
</Layout>
