---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<style>
		.centro {
			text-align: center;
		}
	</style>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1 class="centro">🎊¡Bienvenid@ a mi webfolio!🎊</h1>
			<p>
				Seguramente te estes preguntando que es un "webfolio", muy facil, es la mezcla entre
				una web y un portfolio.
			</p>
			<p>
				¿Pero no seria lo mismo que un portfolio?
			</p>
			<p>
				Podría serlo, pero me planteé esta pregunta: <i>¿en que portfolio se suele escribir sobre 
				los aprendizajes que ha ido obteniendo?</i> Por lo que conozco y visto en otros portfolios
				no es común compartir los conocimientos o experiencias en un portfolio, en mi caso, no solo 
				queria hacer un portfolio, tambien formarme como un desarrollador "todoterreno", y tambien
				usar esta web como un bloc de apuntes.
			</p>
			<p>
				Antes de que lo preguntes, en plataformas de videojuegos como Steam, Epic Games u otras suelo
				usar el nick "Stylish" (Elegante, en inglés), como soy desarrollador, le puse por delante
				"dev", ahí el nick que uso como desarrollador: "DevStylish", asi que ya sabes el origen del
				nombre de la web💡
			</p>
			<p>
				Poco a poco irá incrementando todos los apartados de la web e irán perfeccionando con el tiempo.
			</p>
		</main>
		<Footer />
	</body>
</html>
